@import url(../css/index.css);

img {
  vertical-align: middle;
  margin: auto;
}

.container {
  position: absolute;
  top: 180px;
  left: 250px;
  width: 50%;

}


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #128571;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px 5px 5px 5px;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 400px;
  border-radius: 5px 5px 5px 5px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #9bc3dde7;

}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 8px;
  position: absolute;
  top: 0;
  margin-left: 27%;
}



.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;

}

.active,
.demo:hover {
  opacity: 1;
}

/*text*/
.bg-title {
  position: absolute;
  right: 22.1%;
  top: 20%;
  color: #116355;
}

.bg-sale {
  position: absolute;
  right: 35%;
  top: 37%;
  font-size: 23px;
  color: #116355;
  padding-left: 10px;
  border-left: 4px solid #286d61;
  line-height: 45px;
}


.money {
  position: absolute;
  right: 37.5%;
  top: 57%;
  font-size: 35px;
  color: #ff2626fb;

}

.bg-amount{
  position: absolute;
  right: 37.5%;
  top: 83%;
  font-size: 28px;
  color: #286d61;
}
.bg-number {
position: absolute;
right: 41%;
top: 73%;
font-size: 28px;
color: #116355;
}
.number{
position: absolute;
right: 35%;
top: 73.5%;
font-size: 28px;
color: #116355;
}
#bg-min,
#bg-add {
  width: 40px;
  height: 42px;
  font-size: 30px;
  background-color: #71c1cfb7;
  border-radius: 15px;
  color: #0e597c;
}

#bg-quantity {
  width: 130px;
  height: 40px;
  font-size: 25px;
  background-color: #81dae054;
  border-radius: 10px;
}

.bg-sent {
  position: absolute;
  right: 18%;
  top: 88%;
  font-family: Comic Sans MS,
    Comic Sans,
    cursive;
  font-size: 25px;
  color: #220ba5;
  background-color: #99cfd354;
  border: none;
  border-radius: 12px;
  padding: 8px;
  cursor: pointer;
}

.bg-sent:hover {
  background-color: #a7506d8a;
}

.last-bg {
  position: absolute;
  left: 13%;
  top: 88%;
  font-size: 22px;
  font-family: Comic Sans MS,
    Comic Sans,
    cursive;
  border: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  background-color: #b2b5b641;
}

.next-bg {
  position: absolute;
  left: 36%;
  top: 88%;
  font-size: 22px;
  font-family: Comic Sans MS,
    Comic Sans,
    cursive;
  border: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  background-color: #b2b5b641;
}

.last-bg:hover,
.next-bg:hover {
  background-color: #83ddbf6b;
}

/*information*/

.part-tab {
  position: absolute;
  top: 105%;
  left: 13%;
  width: 70%;
}

.bg-tab {
  overflow: hidden;
  border-top: 1px solid #1f5879b2;
  border-bottom: 1px solid #1f5879b2;
  background-color: #f3f4f700;
  font-family: Comic Sans MS,
    Comic Sans,
    cursive;
}

.tablinks {
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 18px 183px 18px 183px;
  transition: 0.3s;
  font-size: 18px;
  font-family: Comic Sans MS,
    Comic Sans,
    cursive;
  color: #116355;
  background-color: #FFFFFF;
}


.tablinks:hover {
  background-color: #78a3cc;
}


.tablinks.active {
  background-color: #aecddfda;
}


.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  -webkit-animation: fadeEffect 1.5s;
  animation: fadeEffect 1.5s;
  font-size: 20px;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*part-tab star*/
/**/
.comment {
  position: absolute;
  top: 150px;
  right: 10%;
  font-size: 28px;
  font-family: Comic Sans MS,
    Comic Sans,
    cursive;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 5%;
  background-color: #e2954ccb;
  color: #192344;
  cursor: pointer;
}

.comment:hover {
  background-color: #cfc971b7;
}

.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #48494811;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: 0.80;
  filter: alpha(opacity=88);
}

.write-comment {
  display: none;
  position: absolute;
  top: 60px;
  left: 410px;
  height: 450px;
  padding: 20px;
  border: 5px solid #67d4b4c0;
  border-radius: 10px;
  background-color: #c3eed5;
  z-index: 1002;
  overflow: auto;
  font-size: 22px;
}


.grade {
  font-size: 0;
  position: absolute;
  top: 360px;
  left: 20px;

}

.grade>label {
  color: #9bc3dde7;
  float: right;
}

.grade>label:before {
  padding: 5px;
  font-size: 50px;
  line-height: 1em;
  display: inline-block;
  content: "★";
}

.grade>input:checked~label,
.grade:not(:checked)>label:hover,
.grade:not(:checked)>label:hover~label {
  color: #e9ff70;
}

.grade>input:checked~label:hover,
.grade>label:hover~input:checked~label,
.grade>input:checked~label:hover~label {
  opacity: 0.4;
}


.comment-submit {
  position: absolute;
  top: 85%;
  right: 10%;
  font-size: 20px;
  font-family: Comic Sans MS,
    Comic Sans,
    cursive;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 5%;
  background-color: #65e2b8d7;
  color: #192344;
  cursor: pointer;
}

.comment-submit:hover {
  background-color: #71cccfb7;
}

.nope {
  position: absolute;
  top: 0.5%;
  right: 3%;
  text-decoration: none;
  font-size: 28px;
  color: #0e7254;
  padding: 2px 5px 2px 5px;
}

.nope:hover {
  background-color: #4d7aa56b;

}

.total_grade {
  position: absolute;
  top: 50px;
  left: 130px;

}


.total_star {
  position: absolute;
  top: 110px;
  left: 250px;
}

.ha {
  border-left: 1px black solid;
  list-style-type: none;
  padding-left: 15px;
  letter-spacing: 8px;
  color: #e9ff70;
}

b {
  color: black;
}

.clientpic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 70px;
  margin-top: 10px;
}

.client_info {
  position: absolute;
  top: 450px;
  left: 60px;
}



.haha {

  list-style-type: none;
  padding-left: 15px;
  letter-spacing: 8px;
}

.message {
  position: absolute;
  top: 330px;
  left: 270px;
  border-left: 1px black solid;
}

.clientpic-2 {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-left: 70px;
  margin-top: 10px;
  position: absolute;
  top: 550px;
}

.client_info-2 {
  position: absolute;
  top: 700px;
  left: 60px;
}

.message-2 {
  position: absolute;
  top: 590px;
  left: 270px;
  border-left: 1px black solid;
}
/**/
/*part-tab video*/
.bg-v1 {
  position: absolute;
  left: 25%;
  top: 50px;
  padding: 40px;
}

.bg-v2 {
  position: absolute;
  left: 25%;
  top: 400px;
  padding: 40px;
}

/*footer*/
footer {
  height: 200px;
  background-color: #dfe7fd;
  bottom: 0;
  width: 100%;
  margin-top: 1700px;
  text-align: center;
  font-size: 25px;
  font-family: Comic Sans MS,
    Comic Sans,
    cursive;
  color: #128571;
}

.wellcome{
  position: absolute;
  top: 1900px;  
  left: 40%;
  border-right: 2px solid #ffffffbf;
  font-size: 28px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%); 
  width: 450px;   
  color: #532a88;
}

/*footer*/