body {
  padding: 0;
  margin: 0;
    width: 100%;
    font-family: Comic Sans MS,
    Comic Sans,
    cursive;
    background-image: url("../image/bkg1.png");
    background-attachment: fixed;
    background-position: center center;
}


* {
  box-sizing: border-box;
}

h2 {
   position: absolute;
   left: 44%;
   top: -14%;
   color: #3a867a;
}

.header {
  text-align: center;
  margin: 2%;
  position: relative !important;
  margin: 0;
}



.topnav .search-container {
  float: right;
  position: absolute;
  top: 10px;
  left: 1500px;
}

.topnav input {
  padding: 15px;
  margin-top: -4px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 25px 25px;
  margin-top: -4px;
  margin-right: 16px;
  background: #dfe7fd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #9bc3dde7;
}



#gotop {
  display:scroll;
  position:fixed;
  bottom:20px;
  right:10px;
  height: 80px;
}

.search-logo {
  position: absolute;
  right: 6%;
  top: 6%;
  width: 40px;
  display: fixed;
}
.user-logo{
  position: absolute;
  right: 1.5%;
  top: 9%;
  display: fixed;
  width: 50px;
}
/*menu*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9bc3dd;
  font-size: 30px;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: #3d7d8d;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  background-image: linear-gradient(#53497e, #53497e);
  background-position: center bottom;
  background-size: 0 2px;
  background-repeat: no-repeat;
  transition: 0.3s linear;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #58a2c477;
  background-size: 100% 2.5px;
  color: #4d2aac;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #45a3bb9d;
  min-width: 200px;
  z-index: 1;
}

.dropdown-content a {
  color: #1e6359;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #518cbdb7;
}

.dropdown:hover .dropdown-content {
  display:block;
}

/*menu*/
/*gotop*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  padding: none;
  border: none;
  background-color: #ffffff00;
}

#myBtn:hover {
  transform: scale(1.1);
}

/*gotop*/

/* Animation */
.anim-typewriter{
animation: typewriter 4s steps(44) 2s 1 normal both,
           blinkTextCursor 5s steps(44) infinite normal;
animation-iteration-count: infinite;
animation-duration:5s;
}
@keyframes typewriter{
from{width: 0;}
to{width: 450px;}
}
@keyframes blinkTextCursor{
from{border-right-color: #ffffffbf;}
to{border-right-color: transparent;}
}