@import url(../css/index.css);

* {
    box-sizing: border-box
}

/* tab */

.manager-img {
    float: left;
    padding: 10px;
}

.t-text {
    color: #182f6ee3;
    width: 250px;
    height: auto;
    font-size: 27px;
}

.tab {
    position: absolute;
    top: 25%;
    left: 12%;
    text-align: center;
    border: none;
    background-color: #d3f1fa4f;
    width: 300px;
    height: auto;
    border-radius: 3px;
}

.tablinks {
    display: block;
    background-color: inherit;
    text-align: center;
    color: #6863b9;
    padding: 22px 0 16px 0;
    width: 300px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 26px;
    font-family: Comic Sans MS,
        Comic Sans,
        cursive;
    border-radius: 3px;
}

.tablinks:hover {
    background-color: #87b0e071;
}

.tablinks.active {
    background-color: #5298c085;
}

.tabcontent {
    float: center;
    padding: 0px 12px;
    width: 70%;
    border: none;
    height: 20px;
}

/*tab */

/*m-logo*/
.m-logo {
    position: absolute;
    top: 68%;
    right: 1%;
}

/*會員管理*/
.manager-title {
    position: absolute;
    top: 25%;
    left: 30%;
    font-size: 30px;
    color: #11187a;
}

.member-name,
.member-select,
.member-delete {
    font-size: 25px;
    color: #fff7f7;
    background-color: #3c69a3;
    font-family: Comic Sans MS,
        Comic Sans,
        cursive;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.member-name {
    position: absolute;
    top: 37%;
    left: 30%;
}

.member-select {
    position: absolute;
    top: 37%;
    left: 49%;
}

.member-delete {
    position: absolute;
    top: 37%;
    left: 56%;
}
.member-information {
    position: absolute;
    top: 47%;
    left: 30%;
    width: 610px;
    border: 1px solid #1f3a5e;
    background-color: white;
    padding: 20px 15px 20px 15px;
}

.manager-sell,.manager-comment{
    position: absolute;
    top: 35%;
    left: 30%;
    width: 610px;
    height: 500px;
    border: 1px solid #1f3a5e;
    background-color: white;
    padding: 20px 15px 20px 15px;
    overflow: scroll;
}

.manager-product{
    position: absolute;
    top: 36%;
    left: 30%;
    text-align: center;
    font-size: 25px;
    color: #206694;
    font-family: Comic Sans MS,
        Comic Sans,
        cursive;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    width: 1000px;
}
.manager-product th{
    background-color: #89ccd870;
    height: 65px;
}
.manager-product td{
    background-color: #c9ffc24d;
    height: 70px;
}
/*footer*/
footer {
    height: 200px;
    background-color: #dfe7fd;
    bottom: 0;
    width: 100%;
    margin-top: 800px;
    text-align: center;
    font-size: 25px;
    font-family: Comic Sans MS,
        Comic Sans,
        cursive;
    color: #128571;
}

.wellcome {
    position: absolute;
    top: 1020px;
    left: 40%;
    border-right: 2px solid #ffffffbf;
    font-size: 28px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    width: 450px;
    color: #532a88;
}

/*footer*/