@import url(../css/index.css);
fieldset{
display: block;
min-inline-size: min-content;
width: 33%;
border-color: #18749956;
}

.join-form{
position: absolute;
left: 13%;
top:15%;
}

.sign-form{
  position: absolute;
  left: 54%;
  top:15%;
}
.join-text,.sign-text{
  text-align: center;
  color: #2760ac;
  font-size: 23px;
}
.sign-text{
  padding: 8% 0 14% 0;
}
.joinus,.sign{
  font-size: 22px;
  color: #2760ac;
  border-color: #39b0ce41;
  background-color:#2ea4c231;
  padding: 2px 35px 5px 35px;
  font-family: Comic Sans MS,
  Comic Sans,
  cursive;
  border-radius: 6%;
  cursor: pointer;
}

.joinus:hover,.sign:hover{
  background-color: #e3ecc3d0;
}
/*footer*/
footer {
  height: 200px;
  background-color: #dfe7fd;
  bottom: 0;
  width: 100%;
  margin-top: 900px;
  text-align: center;
  font-size: 25px;
  font-family: Comic Sans MS,
  Comic Sans,
  cursive;
  color: #128571;
}

.wellcome{
  position: absolute;
  top: 1100px;  
  left: 40%;
  border-right: 2px solid #ffffffbf;
  font-size: 28px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%); 
  width: 450px;   
  color: #532a88;
}
/*footer*/